In [262]:
import os
from google.cloud import bigquery
from google.cloud import storage
from prophet import Prophet
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "ethereal-accord-397414-944cb605214b.json"

In [263]:
# Definir nombre del Dataset
dataset_id = "Migraciones"
project_id = "ethereal-accord-397414"

# Obtencion de datos de Big Query

In [264]:
def leer_tabla_bq(dataset_id, table_id, project_id):
    """
    Leer tabla desde Big Query
    Parametros nombre del proyecto, dataset y de la tabla.
    Retorna un DataFrame con todos los datos de la tabla.
    """
    client = bigquery.Client()

    # Define el ID completo de la tabla en BigQuery
    table_ref = client.dataset(dataset_id, project=project_id).table(table_id)

    # Load the table
    table = client.get_table(table_ref)

    # Get the data as a pandas DataFrame
    df = client.list_rows(table).to_dataframe()

    return df

Obtengo todos los datos de las tablas en distintos DataFrames.

In [265]:
df_migracion = leer_tabla_bq(dataset_id, 'migracion', project_id)
df_pais = leer_tabla_bq(dataset_id, 'pais', project_id)

# Creacion de DataFrame para trabajar
### Merge

In [266]:
df_tot = df_migracion.merge(right=df_pais, how='left', on='id_pais')
df_tot.head()

,id_migracion,id_inmigracion,id_fac_soc,id_fac_eco,id_pais,migracion_neta,migracion_neta_pred,anio,nombre
0,20160002,<NA>,20160002,20160002,2,16,32,2016-12-31,Antigua y Barbuda
1,20160001,<NA>,20160001,20160001,1,5215,4859,2016-12-31,Argentina
2,20160004,<NA>,20160004,20160004,4,1283,1146,2016-12-31,Belice
3,20160005,<NA>,20160005,20160005,5,-10071,-9632,2016-12-31,Bolivia
4,20160006,<NA>,20160006,20160006,6,82589,46414,2016-12-31,Brasil

In [267]:
# Dropear columnas de ID que no precisamos ya que no brindan ninguna informacion.
df_tot.drop(columns=['id_inmigracion', 'id_fac_soc', 'id_fac_eco', 'migracion_neta_pred'], inplace=True)
df_tot.head()

   id_migracion  id_pais  migracion_neta        anio             nombre
0      20160002        2              16  2016-12-31  Antigua y Barbuda
1      20160001        1            5215  2016-12-31          Argentina
2      20160004        4            1283  2016-12-31             Belice
3      20160005        5          -10071  2016-12-31            Bolivia
4      20160006        6           82589  2016-12-31             Brasil

In [268]:
# Renombrar columnas para facilidad
df_tot.rename(columns={'nombre': 'pais'}, inplace=True)
df_tot.head()

   id_migracion  id_pais  migracion_neta        anio               pais
0      20160002        2              16  2016-12-31  Antigua y Barbuda
1      20160001        1            5215  2016-12-31          Argentina
2      20160004        4            1283  2016-12-31             Belice
3      20160005        5          -10071  2016-12-31            Bolivia
4      20160006        6           82589  2016-12-31             Brasil

In [269]:
# Transfomrar Anio en AÃ±o real.
df_tot['anio'] = pd.to_datetime(df_tot['anio'], format="%Y-%m-%d")
df_tot['anio'].head()

0   2016-12-31
1   2016-12-31
2   2016-12-31
3   2016-12-31
4   2016-12-31
Name: anio, dtype: datetime64[ns]

In [270]:
df_tot.sort_values(by='anio', inplace=True)
df_tot.head()

     id_migracion  id_pais  migracion_neta       anio               pais
909      19900017       17          -15350 1990-12-31           Honduras
891      19900002        2           -1145 1990-12-31  Antigua y Barbuda
892      19900001        1            6021 1990-12-31          Argentina
893      19900003        3             241 1990-12-31            Bahamas
911      19900021       21         -286584 1990-12-31             Mexico

In [271]:
df_tot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990 entries, 909 to 934
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_migracion    990 non-null    Int64
 1   id_pais         990 non-null    Int64
 2   migracion_neta  960 non-null    Int64
 3   anio            990 non-null    datetime64[ns]
 4   pais            990 non-null    object
dtypes: Int64(3), datetime64[ns](1), object(1)
memory usage: 49.3+ KB

**Estudiar NaNs que quedan**

In [272]:
df_tot.isna().sum()

id_migracion       0
id_pais            0
migracion_neta    30
anio               0
pais               0
dtype: int64

In [273]:
df_tot.tail()

     id_migracion  id_pais  migracion_neta       anio         pais
942      20220022       22            <NA> 2022-12-31    Nicaragua
943      20220023       23            <NA> 2022-12-31       Panama
944      20220025       25            <NA> 2022-12-31     Paraguay
946      20220012       12            <NA> 2022-12-31  Santa Lucia
934      20220026       26            <NA> 2022-12-31  El Salvador

In [274]:
# Quedan muchos NaN en todas las variables en 2022 asi que lo sacamos
df_tot = df_tot[df_tot['anio'] < ('2022-01-01')]

In [275]:
df_tot.isna().sum()

id_migracion      0
id_pais           0
migracion_neta    0
anio              0
pais              0
dtype: int64

In [276]:
df_tot.tail()

     id_migracion  id_pais  migracion_neta       anio         pais
116      20210001        1            2344 2021-12-31    Argentina
117      20210003        3             485 2021-12-31      Bahamas
118      20210004        4             577 2021-12-31       Belice
953      20210012       12               0 2021-12-31  Santa Lucia
139      20210024       24           68012 2021-12-31         Peru

In [277]:
df_tot[df_tot['pais'] == 'Argentina'].head(35)

     id_migracion  id_pais  migracion_neta       anio       pais
892      19900001        1            6021 1990-12-31  Argentina
376      19910001        1           -8569 1991-12-31  Argentina
747      19920001        1          -13201 1992-12-31  Argentina
231      19930001        1          -16383 1993-12-31  Argentina
607      19940001        1          -18725 1994-12-31  Argentina
87       19950001        1          -19736 1995-12-31  Argentina
491      19960001        1          -20396 1996-12-31  Argentina
862      19970001        1          -20588 1997-12-31  Argentina
346      19980001        1          -20331 1998-12-31  Argentina
717      19990001        1          -20220 1999-12-31  Argentina
201      20000001        1          -22770 2000-12-31  Argentina
577      20010001        1          -22787 2001-12-31  Argentina
57       20020001        1          -22668 2002-12-31  Argentina
461      20030001        1          -22353 2003-12-31  Argentina
832      20040001        1          -22336 2004-12-31  Argentina
316      20050001        1          -21961 2005-12-31  Argentina
687      20060001        1          -19958 2006-12-31  Argentina
171      20070001        1          -18051 2007-12-31  Argentina
547      20080001        1          -12450 2008-12-31  Argentina
27       20090001        1           -7869 2009-12-31  Argentina
431      20100001        1           -4970 2010-12-31  Argentina
802      20110001        1           -1011 2011-12-31  Argentina
286      20120001        1            3127 2012-12-31  Argentina
661      20130001        1            5369 2013-12-31  Argentina
145      20140001        1            5801 2014-12-31  Argentina
521      20150001        1            5522 2015-12-31  Argentina
1        20160001        1            5215 2016-12-31  Argentina
405      20170001        1            4926 2017-12-31  Argentina
776      20180001        1            4690 2018-12-31  Argentina
260      20190001        1            4478 2019-12-31  Argentina
636      20200001        1            2344 2020-12-31  Argentina
116      20210001        1            2344 2021-12-31  Argentina

# Prophet

Preparar DataFrame para Prophet.

Dataframe must have columns "ds" and "y" with the dates and values respectively.

In [278]:
paises = df_tot['id_pais'].unique()
paises

<IntegerArray>
[17,  2,  1,  3, 21, 22, 23, 25, 24, 12, 27, 29, 28, 30,  4, 19,  6,  5, 18,
 16, 15, 26, 13, 14, 11, 10,  9,  8,  7, 20]
Length: 30, dtype: Int64

In [279]:
def predecir(data, columna, periodo, scale, idpais):
    
    # Filtro por pais.
    df_pais = data[data['id_pais'] == idpais]

    # Renombrar las columnas para que sean compatibles con Prophet.
    df_prophet = pd.DataFrame()
    df_prophet['ds'] = df_pais['anio']
    df_prophet['y'] = df_pais[columna]

    # Crear un modelo Prophet
    model = Prophet(changepoint_prior_scale=scale)

    # Ajustar el modelo a los datos
    model.fit(df_prophet)

    # Crear un DataFrame con las fechas futuras que deseas predecir
    future = model.make_future_dataframe(periods=periodo, freq='Y')

    # Realizar las predicciones
    forecast = model.predict(future)

    return forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [280]:
df_pred = pd.DataFrame(columns=['ds', 'yhat', 'id_pais'])

for p in paises:
    df_forcast = predecir(df_tot, 'migracion_neta', 5, 2, p)
    df_forcast = df_forcast[['ds', 'yhat']]
    df_forcast['id_pais'] = p
    df_pred = df_pred.merge(df_forcast, how='outer')

15:14:37 - cmdstanpy - INFO - Chain [1] start processing
15:14:38 - cmdstanpy - INFO - Chain [1] done processing
15:14:38 - cmdstanpy - INFO - Chain [1] start processing
15:14:38 - cmdstanpy - INFO - Chain [1] done processing
15:14:38 - cmdstanpy - INFO - Chain [1] start processing
15:14:39 - cmdstanpy - INFO - Chain [1] done processing
15:14:39 - cmdstanpy - INFO - Chain [1] start processing
15:14:39 - cmdstanpy - INFO - Chain [1] done processing
15:14:40 - cmdstanpy - INFO - Chain [1] start processing
15:14:40 - cmdstanpy - INFO - Chain [1] done processing
15:14:40 - cmdstanpy - INFO - Chain [1] start processing
15:14:41 - cmdstanpy - INFO - Chain [1] done processing
15:14:41 - cmdstanpy - INFO - Chain [1] start processing
15:14:41 - cmdstanpy - INFO - Chain [1] done processing
15:14:42 - cmdstanpy - INFO - Chain [1] start processing
15:14:42 - cmdstanpy - INFO - Chain [1] done processing
15:14:42 - cmdstanpy - INFO - Chain [1] start processing
15:14:43 - cmdstanpy - INFO - Chain [1] done processing
15:14:43 - cmdstanpy - INFO - Chain [1] start processing
15:14:52 - cmdstanpy - INFO - Chain [1] done processing
15:14:52 - cmdstanpy - INFO - Chain [1] start processing
15:14:53 - cmdstanpy - INFO - Chain [1] done processing
15:14:53 - cmdstanpy - INFO - Chain [1] start processing
15:14:53 - cmdstanpy - INFO - Chain [1] done processing
15:14:53 - cmdstanpy - INFO - Chain [1] start processing
15:14:54 - cmdstanpy - INFO - Chain [1] done processing
15:14:54 - cmdstanpy - INFO - Chain [1] start processing
15:14:55 - cmdstanpy - INFO - Chain [1] done processing
15:14:55 - cmdstanpy - INFO - Chain [1] start processing
15:14:56 - cmdstanpy - INFO - Chain [1] done processing
15:14:56 - cmdstanpy - INFO - Chain [1] start processing
15:14:56 - cmdstanpy - INFO - Chain [1] done processing
15:14:56 - cmdstanpy - INFO - Chain [1] start processing
15:14:57 - cmdstanpy - INFO - Chain [1] done processing
15:14:57 - cmdstanpy - INFO - Chain [1] start processing
15:14:57 - cmdstanpy - INFO - Chain [1] done processing
15:14:58 - cmdstanpy - INFO - Chain [1] start processing
15:14:58 - cmdstanpy - INFO - Chain [1] done processing
15:14:58 - cmdstanpy - INFO - Chain [1] start processing
15:14:59 - cmdstanpy - INFO - Chain [1] done processing
15:14:59 - cmdstanpy - INFO - Chain [1] start processing
15:14:59 - cmdstanpy - INFO - Chain [1] done processing
15:14:59 - cmdstanpy - INFO - Chain [1] start processing
15:15:00 - cmdstanpy - INFO - Chain [1] done processing
15:15:00 - cmdstanpy - INFO - Chain [1] start processing
15:15:01 - cmdstanpy - INFO - Chain [1] done processing
15:15:01 - cmdstanpy - INFO - Chain [1] start processing
15:15:01 - cmdstanpy - INFO - Chain [1] done processing
15:15:02 - cmdstanpy - INFO - Chain [1] start processing
15:15:02 - cmdstanpy - INFO - Chain [1] done processing
15:15:02 - cmdstanpy - INFO - Chain [1] start processing
15:15:03 - cmdstanpy - INFO - Chain [1] done processing
15:15:03 - cmdstanpy - INFO - Chain [1] start processing
15:15:03 - cmdstanpy - INFO - Chain [1] done processing
15:15:03 - cmdstanpy - INFO - Chain [1] start processing
15:15:04 - cmdstanpy - INFO - Chain [1] done processing
15:15:04 - cmdstanpy - INFO - Chain [1] start processing
15:15:05 - cmdstanpy - INFO - Chain [1] done processing
15:15:05 - cmdstanpy - INFO - Chain [1] start processing
15:15:05 - cmdstanpy - INFO - Chain [1] done processing

In [281]:
df_pred.rename(columns={'ds': 'anio', 'yhat': 'migracion_neta_pred'}, inplace=True)
df_pred.head()

        anio  migracion_neta_pred  id_pais
0 1990-12-31        -15352.675042       17
1 1991-12-31        -15521.211957       17
2 1992-12-31        -15568.323794       17
3 1993-12-31        -15559.075368       17
4 1994-12-31        -15246.074408       17

In [282]:
df_pred.head(50)

         anio  migracion_neta_pred  id_pais
0  1990-12-31        -15352.675042       17
1  1991-12-31        -15521.211957       17
2  1992-12-31        -15568.323794       17
3  1993-12-31        -15559.075368       17
4  1994-12-31        -15246.074408       17
5  1995-12-31        -14711.073509       17
6  1996-12-31        -14049.076315       17
7  1997-12-31        -13343.075413       17
8  1998-12-31        -12626.247103       17
9  1999-12-31        -11756.858749       17
10 2000-12-31        -10763.201798       17
11 2001-12-31         -9756.514162       17
12 2002-12-31         -8818.551489       17
13 2003-12-31         -7986.073188       17
14 2004-12-31         -7082.075640       17
15 2005-12-31         -6187.074588       17
16 2006-12-31         -5451.073443       17
17 2007-12-31         -5039.072291       17
18 2008-12-31         -5049.102125       17
19 2009-12-31         -5190.131036       17
20 2010-12-31         -5399.854348       17
21 2011-12-31         -5678.182746       17
22 2012-12-31         -5896.062668       17
23 2013-12-31         -6132.354943       17
24 2014-12-31         -6630.520856       17
25 2015-12-31         -6650.800669       17
26 2016-12-31         -6549.249272       17
27 2017-12-31         -6432.229535       17
28 2018-12-31         -6383.904182       17
29 2019-12-31         -6404.183995       17
30 2020-12-31         -6302.632599       17
31 2021-12-31         -6185.612862       17
32 2022-12-31         -6137.287508       17
33 2023-12-31         -6157.567321       17
34 2024-12-31         -6056.015925       17
35 2025-12-31         -5938.996188       17
36 2026-12-31         -5890.670835       17
37 1990-12-31         -1138.345570        2
38 1991-12-31           216.339957        2
39 1992-12-31           404.995600        2
40 1993-12-31           483.995299        2
41 1994-12-31           512.995080        2
42 1995-12-31           524.623016        2
43 1996-12-31           484.747755        2
44 1997-12-31           489.613472        2
45 1998-12-31           464.994579        2
46 1999-12-31           389.994189        2
47 2000-12-31           267.612805        2
48 2001-12-31           151.374834        2
49 2002-12-31            50.993295        2

In [283]:
# Pasar prediccion a valores enteros
df_pred['migracion_neta_pred'] =  df_pred['migracion_neta_pred'].astype(int)

In [284]:
df_pred.head(50)

         anio  migracion_neta_pred  id_pais
0  1990-12-31               -15352       17
1  1991-12-31               -15521       17
2  1992-12-31               -15568       17
3  1993-12-31               -15559       17
4  1994-12-31               -15246       17
5  1995-12-31               -14711       17
6  1996-12-31               -14049       17
7  1997-12-31               -13343       17
8  1998-12-31               -12626       17
9  1999-12-31               -11756       17
10 2000-12-31               -10763       17
11 2001-12-31                -9756       17
12 2002-12-31                -8818       17
13 2003-12-31                -7986       17
14 2004-12-31                -7082       17
15 2005-12-31                -6187       17
16 2006-12-31                -5451       17
17 2007-12-31                -5039       17
18 2008-12-31                -5049       17
19 2009-12-31                -5190       17
20 2010-12-31                -5399       17
21 2011-12-31                -5678       17
22 2012-12-31                -5896       17
23 2013-12-31                -6132       17
24 2014-12-31                -6630       17
25 2015-12-31                -6650       17
26 2016-12-31                -6549       17
27 2017-12-31                -6432       17
28 2018-12-31                -6383       17
29 2019-12-31                -6404       17
30 2020-12-31                -6302       17
31 2021-12-31                -6185       17
32 2022-12-31                -6137       17
33 2023-12-31                -6157       17
34 2024-12-31                -6056       17
35 2025-12-31                -5938       17
36 2026-12-31                -5890       17
37 1990-12-31                -1138        2
38 1991-12-31                  216        2
39 1992-12-31                  404        2
40 1993-12-31                  483        2
41 1994-12-31                  512        2
42 1995-12-31                  524        2
43 1996-12-31                  484        2
44 1997-12-31                  489        2
45 1998-12-31                  464        2
46 1999-12-31                  389        2
47 2000-12-31                  267        2
48 2001-12-31                  151        2
49 2002-12-31                   50        2

In [242]:
# Crear codigo migracion para poder hacer el merge
# df_pred['id_migracion'] =  10000 * df_pred['anio'].dt.year + df_pred['id_pais']

In [286]:
df_pred.head()

        anio  migracion_neta_pred  id_pais
0 1990-12-31               -15352       17
1 1991-12-31               -15521       17
2 1992-12-31               -15568       17
3 1993-12-31               -15559       17
4 1994-12-31               -15246       17

In [285]:
# df_pred = df_pred[['id_migracion', 'migracion_neta_pred']]
df_pred.tail()

           anio  migracion_neta_pred  id_pais
1105 2022-12-31               -17754       20
1106 2023-12-31               -16369       20
1107 2024-12-31               -12946       20
1108 2025-12-31               -11551       20
1109 2026-12-31               -10161       20

In [287]:
df_tot.head()

     id_migracion  id_pais  migracion_neta       anio               pais
909      19900017       17          -15350 1990-12-31           Honduras
891      19900002        2           -1145 1990-12-31  Antigua y Barbuda
892      19900001        1            6021 1990-12-31          Argentina
893      19900003        3             241 1990-12-31            Bahamas
911      19900021       21         -286584 1990-12-31             Mexico

In [296]:
# df_mig_new = df_tot.merge(df_pred, how='outer', on=['id_pais', 'anio'])
df_mig_new = df_pred.merge(df_tot, how='outer', on=['id_pais', 'anio'])
df_mig_new[df_mig_new['id_pais'] == 2]
# df_mig_new.head(40)

,anio,migracion_neta_pred,id_pais,id_migracion,migracion_neta,pais
37,1990-12-31,-1138,2,19900002,-1145,Antigua y Barbuda
38,1991-12-31,216,2,19910002,223,Antigua y Barbuda
39,1992-12-31,404,2,19920002,405,Antigua y Barbuda
40,1993-12-31,483,2,19930002,484,Antigua y Barbuda
41,1994-12-31,512,2,19940002,513,Antigua y Barbuda
42,1995-12-31,524,2,19950002,528,Antigua y Barbuda
43,1996-12-31,484,2,19960002,478,Antigua y Barbuda
44,1997-12-31,489,2,19970002,493,Antigua y Barbuda
45,1998-12-31,464,2,19980002,465,Antigua y Barbuda
46,1999-12-31,389,2,19990002,390,Antigua y Barbuda
47,2000-12-31,267,2,20000002,271,Antigua y Barbuda
48,2001-12-31,151,2,20010002,148,Antigua y Barbuda
49,2002-12-31,50,2,20020002,51,Antigua y Barbuda
50,2003-12-31,40,2,20030002,41,Antigua y Barbuda
51,2004-12-31,100,2,20040002,101,Antigua y Barbuda
52,2005-12-31,205,2,20050002,202,Antigua y Barbuda
53,2006-12-31,310,2,20060002,314,Antigua y Barbuda
54,2007-12-31,371,2,20070002,372,Antigua y Barbuda
55,2008-12-31,368,2,20080002,369,Antigua y Barbuda
56,2009-12-31,335,2,20090002,338,Antigua y Barbuda
57,2010-12-31,296,2,20100002,295,Antigua y Barbuda
58,2011-12-31,251,2,20110002,247,Antigua y Barbuda
59,2012-12-31,199,2,20120002,203,Antigua y Barbuda
60,2013-12-31,152,2,20130002,156,Antigua y Barbuda
61,2014-12-31,73,2,20140002,108,Antigua y Barbuda
62,2015-12-31,59,2,20150002,60,Antigua y Barbuda
63,2016-12-31,32,2,20160002,16,Antigua y Barbuda
64,2017-12-31,30,2,20170002,0,Antigua y Barbuda
65,2018-12-31,22,2,20180002,0,Antigua y Barbuda
66,2019-12-31,8,2,20190002,0,Antigua y Barbuda
67,2020-12-31,-18,2,20200002,0,Antigua y Barbuda
68,2021-12-31,-21,2,20210002,0,Antigua y Barbuda
69,2022-12-31,-29,2,<NA>,<NA>,NaN
70,2023-12-31,-42,2,<NA>,<NA>,NaN
71,2024-12-31,-69,2,<NA>,<NA>,NaN
72,2025-12-31,-72,2,<NA>,<NA>,NaN
73,2026-12-31,-80,2,<NA>,<NA>,NaN

---
---
---

In [ ]:
paises = df_tot['pais'].unique()
paises

array(['Honduras', 'Antigua y Barbuda', 'Argentina', 'Bahamas', 'Mexico',
       'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Santa Lucia',
       'Trinidad y Tobago', 'Estados Unidos', 'Uruguay', 'Venezuela',
       'Belice', 'Jamaica', 'Brasil', 'Bolivia', 'Haiti', 'Guyana',
       'Guatemala', 'El Salvador', 'Ecuador', 'Granada', 'Cuba',
       'Costa Rica', 'Colombia', 'Chile', 'Canada',
       'Republica Dominicana'], dtype=object)

In [ ]:
def predecir(data, columna, periodo, scale, pais):
    
    # Filtro por pais.
    df_pais = data[data['pais'] == pais]

    # Renombrar las columnas para que sean compatibles con Prophet.
    df_prophet = pd.DataFrame()
    df_prophet['ds'] = df_pais['anio']
    df_prophet['y'] = df_pais[columna]

    # Crear un modelo Prophet
    model = Prophet(changepoint_prior_scale=scale)

    # Ajustar el modelo a los datos
    model.fit(df_prophet)

    # Crear un DataFrame con las fechas futuras que deseas predecir
    future = model.make_future_dataframe(periods=periodo, freq='Y')

    # Realizar las predicciones
    forecast = model.predict(future)

    return forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [ ]:
df_pred = pd.DataFrame(columns=['ds', 'yhat', 'pais'])

for p in paises:
# for p in ['Argentina', 'Uruguay']:

    df_forcast = predecir(df_tot, 'migracion_neta', 10, 2, p)
    df_forcast = df_forcast[['ds', 'yhat']]
    df_forcast['pais'] = p
    df_pred = df_pred.merge(df_forcast, how='outer')

12:23:53 - cmdstanpy - INFO - Chain [1] start processing
12:23:53 - cmdstanpy - INFO - Chain [1] done processing
12:23:54 - cmdstanpy - INFO - Chain [1] start processing
12:23:54 - cmdstanpy - INFO - Chain [1] done processing
12:23:54 - cmdstanpy - INFO - Chain [1] start processing
12:23:55 - cmdstanpy - INFO - Chain [1] done processing
12:23:55 - cmdstanpy - INFO - Chain [1] start processing
12:23:55 - cmdstanpy - INFO - Chain [1] done processing
12:23:56 - cmdstanpy - INFO - Chain [1] start processing
12:23:56 - cmdstanpy - INFO - Chain [1] done processing
12:23:56 - cmdstanpy - INFO - Chain [1] start processing
12:23:57 - cmdstanpy - INFO - Chain [1] done processing
12:23:57 - cmdstanpy - INFO - Chain [1] start processing
12:23:57 - cmdstanpy - INFO - Chain [1] done processing
12:23:58 - cmdstanpy - INFO - Chain [1] start processing
12:23:58 - cmdstanpy - INFO - Chain [1] done processing
12:23:58 - cmdstanpy - INFO - Chain [1] start processing
12:23:59 - cmdstanpy - INFO - Chain [1] done processing
12:23:59 - cmdstanpy - INFO - Chain [1] start processing
12:24:09 - cmdstanpy - INFO - Chain [1] done processing
12:24:09 - cmdstanpy - INFO - Chain [1] start processing
12:24:09 - cmdstanpy - INFO - Chain [1] done processing
12:24:10 - cmdstanpy - INFO - Chain [1] start processing
12:24:10 - cmdstanpy - INFO - Chain [1] done processing
12:24:10 - cmdstanpy - INFO - Chain [1] start processing
12:24:11 - cmdstanpy - INFO - Chain [1] done processing
12:24:11 - cmdstanpy - INFO - Chain [1] start processing
12:24:12 - cmdstanpy - INFO - Chain [1] done processing
12:24:12 - cmdstanpy - INFO - Chain [1] start processing
12:24:13 - cmdstanpy - INFO - Chain [1] done processing
12:24:13 - cmdstanpy - INFO - Chain [1] start processing
12:24:13 - cmdstanpy - INFO - Chain [1] done processing
12:24:13 - cmdstanpy - INFO - Chain [1] start processing
12:24:14 - cmdstanpy - INFO - Chain [1] done processing
12:24:14 - cmdstanpy - INFO - Chain [1] start processing
12:24:14 - cmdstanpy - INFO - Chain [1] done processing
12:24:15 - cmdstanpy - INFO - Chain [1] start processing
12:24:15 - cmdstanpy - INFO - Chain [1] done processing
12:24:15 - cmdstanpy - INFO - Chain [1] start processing
12:24:16 - cmdstanpy - INFO - Chain [1] done processing
12:24:16 - cmdstanpy - INFO - Chain [1] start processing
12:24:16 - cmdstanpy - INFO - Chain [1] done processing
12:24:16 - cmdstanpy - INFO - Chain [1] start processing
12:24:17 - cmdstanpy - INFO - Chain [1] done processing
12:24:17 - cmdstanpy - INFO - Chain [1] start processing
12:24:18 - cmdstanpy - INFO - Chain [1] done processing
12:24:18 - cmdstanpy - INFO - Chain [1] start processing
12:24:18 - cmdstanpy - INFO - Chain [1] done processing
12:24:18 - cmdstanpy - INFO - Chain [1] start processing
12:24:19 - cmdstanpy - INFO - Chain [1] done processing
12:24:19 - cmdstanpy - INFO - Chain [1] start processing
12:24:19 - cmdstanpy - INFO - Chain [1] done processing
12:24:20 - cmdstanpy - INFO - Chain [1] start processing
12:24:20 - cmdstanpy - INFO - Chain [1] done processing
12:24:20 - cmdstanpy - INFO - Chain [1] start processing
12:24:21 - cmdstanpy - INFO - Chain [1] done processing
12:24:21 - cmdstanpy - INFO - Chain [1] start processing
12:24:21 - cmdstanpy - INFO - Chain [1] done processing
12:24:22 - cmdstanpy - INFO - Chain [1] start processing
12:24:22 - cmdstanpy - INFO - Chain [1] done processing

In [ ]:
df_pred.head(50)

           ds          yhat               pais
0  1990-12-31 -15352.675042           Honduras
1  1991-12-31 -15521.211957           Honduras
2  1992-12-31 -15568.323794           Honduras
3  1993-12-31 -15559.075368           Honduras
4  1994-12-31 -15246.074408           Honduras
5  1995-12-31 -14711.073509           Honduras
6  1996-12-31 -14049.076315           Honduras
7  1997-12-31 -13343.075413           Honduras
8  1998-12-31 -12626.247103           Honduras
9  1999-12-31 -11756.858749           Honduras
10 2000-12-31 -10763.201798           Honduras
11 2001-12-31  -9756.514162           Honduras
12 2002-12-31  -8818.551489           Honduras
13 2003-12-31  -7986.073188           Honduras
14 2004-12-31  -7082.075640           Honduras
15 2005-12-31  -6187.074588           Honduras
16 2006-12-31  -5451.073443           Honduras
17 2007-12-31  -5039.072291           Honduras
18 2008-12-31  -5049.102125           Honduras
19 2009-12-31  -5190.131036           Honduras
20 2010-12-31  -5399.854348           Honduras
21 2011-12-31  -5678.182746           Honduras
22 2012-12-31  -5896.062668           Honduras
23 2013-12-31  -6132.354943           Honduras
24 2014-12-31  -6630.520856           Honduras
25 2015-12-31  -6650.800669           Honduras
26 2016-12-31  -6549.249272           Honduras
27 2017-12-31  -6432.229535           Honduras
28 2018-12-31  -6383.904182           Honduras
29 2019-12-31  -6404.183995           Honduras
30 2020-12-31  -6302.632599           Honduras
31 2021-12-31  -6185.612862           Honduras
32 2022-12-31  -6137.287508           Honduras
33 2023-12-31  -6157.567321           Honduras
34 2024-12-31  -6056.015925           Honduras
35 2025-12-31  -5938.996188           Honduras
36 2026-12-31  -5890.670835           Honduras
37 2027-12-31  -5910.950648           Honduras
38 2028-12-31  -5809.399251           Honduras
39 2029-12-31  -5692.379514           Honduras
40 2030-12-31  -5644.054161           Honduras
41 2031-12-31  -5664.333974           Honduras
42 1990-12-31  -1138.345570  Antigua y Barbuda
43 1991-12-31    216.339957  Antigua y Barbuda
44 1992-12-31    404.995600  Antigua y Barbuda
45 1993-12-31    483.995299  Antigua y Barbuda
46 1994-12-31    512.995080  Antigua y Barbuda
47 1995-12-31    524.623016  Antigua y Barbuda
48 1996-12-31    484.747755  Antigua y Barbuda
49 1997-12-31    489.613472  Antigua y Barbuda